[2015-11-16 18:05] gamesbrainiac opened #274 "Adding `async` and `await` support for Python 3.5"

[2016-07-16 02:32] larkost opened #273 "add rate limiting to export and dump commands"

[2016-10-24 19:02] daveisfera opened #272 "Python driver incorrectly requires datetime.date type to have tzinfo"
Python `datetime.date` types cannot have `tzinfo` because timezone only has meaning when a time is associated with it. Here's a simple script to demonstrate the issue:

[code]

[2017-01-24 21:41] StianOvrevage opened #271 "Restore not working on Windows due to : (colon) in file and folder names"
`rethinkdb dump` by default creates a file that contains colons, such as `rethinkdb_dump_2017-01-24T21:34:23.tar.gz`. This can be overriden with `-f`, BUT, since all the actual data files are stored inside a folder named `rethinkdb_dump_2017-01-24T21:34:23` inside the archive no matter what `-f` is set to, it's basically impossible to restore (and probably dump) on Windows.

Windows does not allow

[2017-03-13 18:14] coffenbacher opened #275 "Python driver: auto reconnect options?"

[2017-06-18 07:41] ssut opened #270 "Python driver fails with unexpected bytes"

[2018-07-11 11:19] andrewmaximoff opened #158 "Python3.7. asyncio.async() function is deprecated, use ensure_future()"
Python3.7 don't support asyncio.async() need replace with a asyncio.ensure_future().
https://github.com/rethinkdb/rethinkdb/blob/d602ca096da20c136a90d0eb6fa0ad0622a87d86/drivers/python/rethinkdb/asyncio_net/net_asyncio.py#L136

[2018-07-16 13:56] andrewmaximoff opened #161 "Python driver. Python3.7. How to get_all() from DB if RuntimeError following StopIteration."
[code]

[code]

[2018-07-24 14:49] gabor-boros opened #6 "Refactoring caused connection error"
## Description
The refactoring of `net.py` made in commit https://github.com/RebirthDB/rebirthdb-python/commit/89db318a85cd940f0de0fba8e4f31b96b9acb697 closes the connection anyway not only when exception occurred.

## Traceback
[code]

## Suggestion
Put back the socket close to the exception handling.

## Later improvements
When refactoring the package, we should figure out a nicer way to handle

[2018-07-24 16:23] #6 closed, assigned to gabor-boros

[2018-08-19 15:41] gabor-boros opened #23 "Write integration tests for the 2.4 release and below with default connection."
## Description
Write integration tests for the 2.4 release and below with default connection. These should be end to end with a focus on getting cursor responses exercised.

[2018-08-19 15:42] gabor-boros opened #24 "Refactor handshake code."
## Description
Refactor handshake code. Removal of older handshake code is pending spectrum discussion.

[2018-08-19 15:42] gabor-boros opened #25 "Write end to end tests on each async connection."
## Description
Write end to end tests on each async connection. These tests will need to exercise change feeds and out of order requests for data. First #18 should be merged and Gevent completed for step 3 and 4

[2018-08-19 15:57] gabor-boros opened #26 "Refactor async connections into an internal api."
## Description
Refactor async connections into an internal api. This is probably going to look like JSONEncode/Decode injection with defaults and sensible overrides such as per connection opened.

[2018-08-19 15:57] gabor-boros opened #27 "Fix unused code issues remaining in connections."
## Description
Fix unused code issues remaining in connections.

[2018-08-19 15:57] gabor-boros opened #28 "Exceptions are caught and bubbled in several places that leads to complexity in using internal APIs."
## Description
Exceptions are caught and bubbled in several places that leads to complexity in using internal APIs. At the same time refactor to always log exceptions with `default_logger.exception()`.

[2018-08-19 15:58] gabor-boros opened #29 "Deliver the missing unit tests to cover all query cases."
## Description
Deliver the missing unit tests to cover all query cases. This will become an ongoing task based on the permutations that can be expressed. For this first pass getting most combinations of two terms will be enough to release.

[2018-08-19 15:58] gabor-boros opened #30 "Create pypi package"
Create pypi package

[2018-08-21 21:56] SunburntRock89 commented on #30
How should I install the module until then?

[2018-08-21 22:08] Randshot commented on #30
@SunburntRock89 You can use `pip install .` in the root directory.

[2018-08-21 22:10] SunburntRock89 commented on #30
This gives me an error: ![Error](https://i.da532.com/MU2m.png)

[2018-08-21 22:11] Randshot commented on #30
Did you try running the unit-tests?

[2018-08-21 22:11] SunburntRock89 commented on #30
How do I do that?

[2018-08-21 22:13] Randshot commented on #30
`make test-unit`

[2018-08-21 22:17] SunburntRock89 commented on #30
I get a bunch of errors importing test modules

[2018-08-21 22:25] SunburntRock89 commented on #30
Here's the bottom half of the error: ![Error](https://i.squaddy.xyz/brW9Ud.png)

[2018-08-21 22:27] Randshot commented on #30
Can you try using Python 2.7?
I am currently installing Python 3 to test it.

[2018-08-21 22:28] SunburntRock89 commented on #30
But, can that still be used on Python 3?

[2018-08-21 22:30] Randshot commented on #30
Ah, try this:
[code]

[2018-08-21 22:31] SunburntRock89 commented on #30
holy crap you are my saviour.

[2018-10-08 00:28] johns10 commented on #30
This is a bit of a rough install.  I'm looking on the public readme.  Trying to get this in a docker machine.  Any guidance?

[2018-10-08 07:52] gabor-boros commented on #30
CC: @grandquista

@SunburntRock89 , @Randshot, Sorry for the late response and thank you for your help.

@johns10, We are working on integration tests with @grandquista right now to make sure that we can create a pypi package which will include a functionally working client. Theorically we got the release credentials (I have to validate it) so we will be able to release the package as rethinkdb (a

[2018-11-24 17:25] gabor-boros opened #63 "Manual test the package against the 2.4 release"

[2018-11-24 17:25] gabor-boros opened #64 "Unify error/exception message styles."
This is lower priority, but not blocked by any of the other refactoring as it is cosmetic improvements.

[2018-11-28 02:03] adamgering opened #66 "Support for binary data in primary key"
I'm getting an error trying to use binary data as a primary key, Python 3.5.2 driver version 2.3.0.post6, RethinkDB 2.3.6.

Primary key `address` cannot be changed (null -> {\n\t"address":{"$reql_type$":"BINARY","data":"usABAAAzM09RHqvfOr+yo6lmvxER/wAAAAAAAAAAAAAAAAA="}

Am I doing something wrong or is there a known bug?

[2018-11-28 02:09] adamgering commented on #66
resolved, user error

[2018-11-28 02:09] #66 closed

[2018-12-14 07:19] gabor-boros commented on #24
Since the PR is merged I’m closing this issue

[2018-12-14 07:19] #24 closed

[2019-01-05 10:41] mitinarseny opened #68 "Python 3.7+ asyncio loop type Syntax Error"
I have `rethinkdb==2.3.0.post6` and `Python 3.7.2`.
When I set `r.set_loop_type('asyncio')`, I get an error:
[code]
Fix this, please.

[2019-01-11 21:33] pashazz commented on #68
Fixed in v 2.4.0

[2019-01-12 21:54] mitinarseny commented on #68
Could you kindly update [rethinkdb](https://pypi.org/project/rethinkdb/) package on [PyPi](https://pypi.org/) to `v2.4.0`?

[2019-01-12 22:15] pashazz commented on #68
@mitinarseny
Unfortunately I'm not a developer of this library

[2019-01-13 00:59] pashazz commented on #68
Although it's not _precisely_ written you can clone this repository, then eecute the following  from rethinkdb-python dir:
[code]

[2019-01-13 10:32] gabor-boros commented on #68
Currently the pypi credentials are missing (after the takeover, we did not got the credentials, so I have to solve it next week)

[2019-01-13 12:00] gabor-boros commented on #68
The packaging issue will be solved by https://github.com/rethinkdb/rethinkdb-python/pull/60.

[2019-01-13 12:00] gabor-boros commented on #30
The packaging issue will be solved by https://github.com/rethinkdb/rethinkdb-python/pull/60.

[2019-01-16 10:37] tommilligan opened #76 "Generate proto files on git install"
Currently, protocol buffer files are not generated during a git install. They require a separate `make prepare` step, which means we can't use a git reference with tools like `pip` or `pipenv`. This leads to errors like:

[code]

It's possible to run external commands like `make` during the install process, see [this SO question](https://stackoverflow.com/questions/45347685/run-makefile-on-pip-ins

[2019-01-16 14:40] tommilligan opened #77 "AttributeError when serializing RqlConstant"
When using a constant in queries, rethinkdb will raise an `AttributeError` when serialising it to JSON.

[code]

`RqlConstant` is a subclass of `RqlQuery`, but does not have the expected attribute `term_type`, instead it has `tt`.

RqlConstant: https://github.com/rethinkdb/rethinkdb-python/blob/c934e20f616c8118225ba1c6a828287715b27d06/rethinkdb/query.py#L289
RqlQuery requires term_type: https://gi

[2019-01-16 17:05] mehaase opened #79 "Show stopping bugs in `rethinkdb.logger`"
There are a few show stopping bugs in `rethinkdb.logger`.

The first issue is that the call to `logging.basicConfig()` is incorrect. The `format` argument should be a `str`, not a `logging.Formatter`. This causes all logging calls to produce the following error:

[code]

The corrected code should be:

[code]

The second issue is that a library module should never call `logging.basicConfig()` becau

[2019-01-16 20:18] gabor-boros commented on #30
We got the credentials.

[2019-01-16 20:56] gabor-boros commented on #76
I can see your point. What is the reason behind the editable install? Just asking because if the package release delay, I can make sure that a new package version will be deployed this week to pypi (we got credentials)

[2019-01-17 08:27] gabor-boros opened #80 "Create proper travis ci config"
The current Travis CI setup is a mess (sorry for that by the way). We need to figure out how to do it better.

A partially related issue is that we can not run integration tests on forks because of encrypted env variables. Potentially we could turn them off for PRs. What do you think @grandquista?

[2019-01-17 08:31] tommilligan commented on #76
It was initially because of the package install, but now I'm looking around at other similar packages and they do just say _"Install it with these steps"_, and use a Makefile (which we're currently doing). I'll see if I can find an example in a well used package, otherwise I'll close this

[2019-01-17 15:47] gabor-boros commented on #30
Now we can create pypi packages both on test.pypi.org and pypi.org. Closing the issue.

[2019-01-17 15:47] #30 closed

[2019-01-17 15:50] gabor-boros commented on #68
PyPi package is on its way.

[2019-01-17 16:07] grandquista commented on #80
Travis is pretty good about explaining why it is running, so it makes disabling on certain runs easy.

[2019-01-20 15:27] #80 closed, assigned to nobody

[2019-01-24 13:20] pashazz opened #83 "Set loop type back to synchronous in set_loop_type"
So, after I do r.set_loop_type('asyncio') the returning value from r.connect changes to asyncio Future. But what if I want to use normal version of r.connect in some threads that are lacking an asyncio loop? Right now it leads to some consequences - 'generator' objects in unexpected places.

[2019-01-28 16:17] gabor-boros commented on #76
@tommilligan have you found any examples?

[2019-02-01 17:38] mitinarseny commented on #68
Well, when?)

[2019-02-07 09:05] bdschr commented on #68
+1 for package update on pypi. Not being able to install it with git+ is annoying and requires additional steps in my CI pipeline.

[2019-02-10 19:37] tommilligan commented on #76
Haven't looked into it and is no longer an issue for me - closing

[2019-02-10 19:37] #76 closed

[2019-02-18 16:39] mehaase commented on #79
The first issue is resolve in this commit (now on master): https://github.com/rethinkdb/rethinkdb-python/commit/96b991c6d0a78f9f68de33522232293c2a93d866

But the second and third issues are not resolved. What do you think @gabor-boros @grandquista?

[2019-02-18 17:57] grandquista commented on #79
I will look at removing the call for the second issue. The third is a symptom of trying to get a handle on how exceptions were used internally. When we started this refactor there were a number of places that swallowed all exceptions. Or simply caught a re raised.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-23 17:08] SirEdvin commented on #68
@gabor-boros hey, what with package upload? I read, that pypi team assign the project to you.

[2019-02-28 14:48] gabor-boros commented on #68
Yep, I'll do the upload this weekend. I had a really hard month.

[2019-03-01 18:18] gabor-boros commented on #68
@SirEdvin, @bdschr, @mitinarseny, @pashazz this issue will be resolved by https://github.com/rethinkdb/rethinkdb-python/pull/91

[2019-03-02 14:29] #68 closed

[2019-03-02 17:15] gabor-boros commented on #68
FYI: The package has been deployed.
[![PyPI version](https://badge.fury.io/py/rethinkdb.svg)](https://badge.fury.io/py/rethinkdb)

[2019-03-03 15:55] MichalMazurek opened #92 "Asyncio support: 'TypeError: 'async for' received an object from __aiter__ that does not implement __anext__: generator'"
Cannot use cursor with `async for`.

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

Remove @asyncio.coroutine decorator from `__aiter__` method of AsyncioCursor on line 95 in net_asyncio.py

## Steps to Reproduce

Given above.

## Context (Environment)

Python 3.7.2, you can't use cursors in `async for`

[2019-03-03 18:09] grandquista commented on #92
I'm having trouble squaring the problem with the original [code](https://github.com/rethinkdb/rethinkdb/commit/dda2fea6326182350c7e845378efc6749c49ec13). Is this a 3.7 only problem? I can write some tests now that we are running 3.7 in the suite.

[2019-03-03 18:15] grandquista commented on #79
The second issue is solved. At the same time I namespaced our logger to help moving forward. For the third I think we want to ensure all our logging is done at the `DEBUG` level. I'm basing this on Django where turning up to that level gets me all the Postgres events. Write to console is mostly for ease of testing. It could be replaced with a good set of mock utilities.

[2019-03-03 18:57] MichalMazurek commented on #92
It might be 3.7 specific, I didn't have much time to test it on 3.6, sorry.

[2019-03-03 19:02] MichalMazurek commented on #92
Anyhow, in this pep https://www.python.org/dev/peps/pep-0525/ there as an example for an asynchronous generator. The `__aiter__` is not a coroutine. And it was implemented in 2016 with 3.6 https://bugs.python.org/issue28003. It might be the same issue on 3.6 as well.

[2019-03-03 20:30] gabor-boros commented on #92
Linking the related PR https://github.com/rethinkdb/rethinkdb-python/pull/93

[2019-03-06 13:58] gabor-boros commented on #92
PR is on the master. I’ll close he issue when we release the new version

[2019-03-07 14:54] codeskyblue opened #96 "Can keep old import ways `import rethinkdb as r` in 2.4.0?"
Since lot of code is build with 2.3.6.post6, Is there any simple way to upgrade to 2.4.0?

[2019-03-07 16:43] nicholastulach opened #97 "2.4.0 breaks the RethinkDB import tool"
Breaking changes causing issues with other tools in the RethinkDB toolset, including the import tool.

[2019-03-08 11:38] gabor-boros commented on #97
@nicholastulach Hi! ✋
Could you please describe the issue a bit? What environment do you have, which python version, what did you executed, etc?

Please also provide a traceback if possible.

Thank you

[2019-03-08 11:46] gabor-boros commented on #96
@codeskyblue Hi! ✋
The short answer is that we dropped this import format, due to we faced with lot of circular imports and other issues as well in the `__init__.py`, so we would not like to keep the old import style. (@grandquista if you have other opinion, please raise your hand)

[2019-03-08 12:17] gabor-boros commented on #92
one of the two release blockers is merged

[2019-03-08 13:51] grandquista commented on #96
Do a replacement with `import rethinkdb as r; r = r. RethinkDB()` would be the upgrade path

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 14:17] codeskyblue commented on #96
@gabor-boros How about add code `r = RethinkDB()` at the end of `__init__.py`, so we can use

`from rethinkdb import r` instead of `import rethinkdb as r`

[2019-03-08 17:34] gabor-boros commented on #96
As I remember it leads to an issue but I’ll check it this weekend. If it is possible I’ll open a PR for this.

[2019-03-09 16:15] celogeek commented on #97
The docker image "rethinkdb/latest" contains:
[code]

When we try to install the package with the official docker image:
[code]

Solution:
[code]

[2019-03-09 16:18] celogeek commented on #96
Well, I think the right import syntax is:
[code]

[2019-03-11 06:32] gabor-boros commented on #92
@MichalMazurek v2.4.1 released (by accident, but) except the trio integration it should work properly now. Could you please try it out?

[2019-03-11 11:40] MichalMazurek commented on #92
I wil do it today :)

[2019-03-12 12:02] MichalMazurek commented on #92
Sorry, had some problems with connectivity yesterday. I can confirm that it works properly :)

[2019-03-12 12:47] gabor-boros commented on #92
@MichalMazurek No problems and thank you for the confirmation! I’m closing this issue then. We have an issue with the trio integration but it is an other topic.

[2019-03-12 12:47] #92 closed

[2019-03-12 14:42] auyer opened #99 "[BUG] .do() methods are not working as expected"
Back in  2.3.0 I tested this the `.do()`, and it still doesn't work i 2.4.

[code]
## Expected Behavior

It is expected that the `.do()` would execute the lamda functions and `r.branch()` functions

## Current Behavior

The `.do()` function does not execute correctly

## Steps to Reproduce

1. Open the Python interpreter
2. run the following piece of code:
[code]
3. It will produce `{'dbs_created'

[2019-03-12 15:06] gabor-boros commented on #99
Hello @auyer we will need some time to investigate. Could you please share some detail about your setup? For example python version, RethinkDB (server and python client) versions?

[2019-03-12 15:51] gabor-boros commented on #99
@auyer thank you, I’ll try to investigate this issue in the upcoming days if @grandquista is not faster than me 😏

[2019-03-12 15:57] auyer commented on #96
`from rethinkdb import RethinkDB as r ` alone does not work because you need to initialize the class.

[2019-03-13 05:59] grandquista commented on #99
It probably needs more research, but the first clue I see is there is no `r.row` in that lambda

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-13 11:00] therenca opened #100 "python driver for rethinkdb is incompatible with tornado > 5.0"
Why is Tornado 5.0 incompatible with the python driver for rethinkdb....

[2019-03-13 11:41] gabor-boros commented on #100
@therenca we inherited the project with this note and we did not tested with tornado > 5.0. If you tested it and working, just let us know

[2019-03-13 13:03] gabor-boros commented on #99
Ok, so maybe I misunderstood something, but what I got is: "If there is no db, then create it".

If this is the case, then you are missing a lambda function there. So you could write the following:
[code]

Due to this is working, I'm closing this issue. If you feel that this does not solves your problem, feel free to comment here and I'll reopen this.

[2019-03-13 13:03] #99 closed

[2019-03-13 13:17] gabor-boros commented on #97
@celogeek Ok the issue is the python version, but what I can not see right now is that how this part of the code was called. Hmm. This will need some investigation

[2019-03-13 15:03] grandquista commented on #99
The original should still work. I’m guessing the bug is we lost a force coerce argument to function since its missing the meta operation. The original isn’t dynamic, and that shouldn’t be part of the bug

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-15 13:40] gabor-boros commented on #96
@celogeek, @codeskyblue, @grandquista The best what I can do to mitigate this is what @codeskyblue suggested (`from rethinkdb import r`). If it is ok for you I can open a PR with the changes.

[2019-03-17 12:32] gabor-boros commented on #96
Due to #102 is merged, I'm closing this issue. Feel free to ask for reopen if you think it is not ok.

[2019-03-17 12:32] #96 closed

[2019-03-19 14:56] shuat opened #104 "rethinkdb dump failing"
Ran the following
[code]
[code]

[2019-03-19 15:56] gabor-boros commented on #104
@shuat Hello, it seems that the import/dump/... commands are broken. As I have time I’ll look into this.

[2019-03-20 13:33] shuat commented on #104
@gabor-boros Thanks for the quick answer. Is there any workaround for backing up my DB?

[2019-03-21 06:49] gabor-boros commented on #104
@shuat Can you confirm that you installed 2.4.1?

As I guess there is no workaround yet, except downgrading to version 2.3.x temporary.

I’ll look into the issue today or tomorrow.

[2019-03-21 13:04] mehaase commented on #79
Thanks @grandquista for working on the second issue!

Agreed.

Can you explain this a bit more? Pytest will automatically display log messages for all failing test cases. Here's an example:

[code]

Pytest can be configured to display debug logs:

[code]

Or did I misunderstand the comment about testing?

[2019-03-21 13:38] mehaase commented on #83
I'm late to comment on this, but the `set_loop_type()` API is inherently dangerous. This issue is a good example of why: one part of the code changes some global state in the library that affects other parts of the code. It's not good encapsulation. It would be better to import directly from the appropriate module.

I.e. instead of:

[code]

We should encourage this:

[code]

This change would als

[2019-03-21 17:44] psschroeter commented on #104
Also having this issue with a slightly different option (TypeError: check_tls_option() takes exactly 2 arguments (3 given)). 2.4.0 and 2.4.1 both error out. 2.3.0 seems to work.

[2019-03-21 17:50] gabor-boros commented on #104
@psschroeter thanks for reporting, we definitely need to look into this issue as soon as we can

[2019-03-21 19:21] gabor-boros commented on #104
@psschroeter @shuat There are several issues. The first issue is that the `-c` flag is not working. I do not know yet why, but it is not. The second issue is that multiprocessing has no `get_context` in python 2.7.x.

If it is not enough, then there are other broken things as well. We have two options:
1) Diff the changes between master and e801bb5973fd2df0c26fb0e169afa523e70648ac (this commit con

[2019-03-21 22:39] gabor-boros commented on #83
@mehaase I reopened this issue (not to forget) but I’ll only check it tomorrow

[2019-03-22 02:11] grandquista commented on #83
The fix was to encapsulate, and no longer modify global state. `set_loop_type` is now modifying only the driver object instance state.

The refactor was not motivated by this method, and it made fixing the bug in `set_loop_type` possible.

The refactor was largely motivated by the tight coupling of the modules and circular imports making maintenance difficult. There were always classes acting like

[2019-03-22 02:37] grandquista commented on #79
As you mentioned, only for failing cases. Sometimes output from successful tests was important.

It is mostly an internal duplication of `tee`, and was helpful during large scale refactoring.

[2019-03-22 12:58] sawdog commented on #104
I'm confused again. I told you I fixed this

[2019-03-22 13:04] gabor-boros commented on #104
@sawdog here is the change what you provided: https://github.com/rethinkdb/rethinkdb-python/commit/086a7681a9e8efd42c15f78d33c94843f1bf9880 but it does not fixed the issue

[2019-03-24 00:27] Stilldabomb commented on #104
`-p` also throws an error, and for some reason it's not accepting the first argument passed to it, figured this applied to this issue.

    backend git:(master) ✗ rethinkdb dump - -p
    Password for `admin`:
    Traceback (most recent call last):
      File "/usr/local/bin/rethinkdb-dump", line 10, in <module>
        sys.exit(main())
      File "/usr/local/lib/python3.7/site-packages/rethinkdb/_

[2019-03-24 05:03] sawdog commented on #104
I wasn't aware we were trying for backwards compatibility with 2.7; for some reason -  I dunno why.
The issue with -p is not the port; it's looking to set a password. That should be easy enough
 to fix and can also account for the other args that were broken/breaking. I did not look at them all at the time.  I'll try and get a look at that tomorrow.

[2019-03-25 01:44] Dwigoric opened #157 "Error restoring a database"
This is the output that I receive when trying to restore (on root):
[code]

RethinkDB version:
[code]

The python driver is at version 2.4.1.

[2019-03-26 03:02] shuat commented on #104
@gabor-boros Sorry for the slow reply
This is what I have `/usr/local/lib/python3.4/dist-packages (2.4.1)` So yes I have 2.4.1

[2019-03-26 03:25] shuat commented on #104
@gabor-boros Where can I get an old version? Seems pip only has one version
[code]

[2019-03-27 14:06] gabor-boros commented on #104
@shuat just `pip install rethinkdb==2.3.0.post6`. All the previous versions are available on PyPi (https://pypi.org/project/rethinkdb/#history)

[2019-03-27 23:47] fnrcum opened #107 "Update documentation for the new driver"
**Is your feature request related to a problem? Please describe.**
I have been checking the documentation on the python driver and frankly it's old. I've also tried using the ConnectionPool feature but i'm having a hard time doing so. The example is not really concise and the documentation does not have this.
Also I use PyCharm as an IDE and most of the time it tells me certain things like r.table

[2019-04-02 23:25] nlevitt opened #110 "`str(r.now())` or `repr(r.now())` raise RuntimeError in python 3.7+"
**Describe the bug**

This happens in python 3.7 but seemingly not earlier versions.
[code]

Can be a major problem if code tries to log a query before running it, for example.

**To Reproduce**
Steps to reproduce the behavior:
1. see above

**Expected behavior**
Return a reasonable stringification.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System info**
 - O

[2019-04-10 19:13] mitinarseny opened #112 "Bring back signleton"
Before it was easy just to write
[code]
But documentation (simply README) of rethinkdb python driver >=2.4.0 insist that now the proper way to do it is this:
[code]
It's OK to do it in single function. But it is NOT OK to do it in multiple functions and pass around the `rethinkdb_instance` parameter in each function that makes requests to your rethinkdb.

[2019-04-10 22:33] gabor-boros commented on #112
Hello @mitinarseny, maybe I misunderstood something, but this is why we created a “shortcut” for this problem.

[2019-04-11 08:37] mitinarseny commented on #112
@gabor-boros
Could you explain about shortcut, please?

Let me explain you more about the problem that I faced.
I have just encountered a problem: I updated `rethinkdb` dependency of my project to `2.4.1`. Here is an example of code that now doesn't work:
[code]
I use `db_connection()` like this:
[code]
Here is the error that I get when run my code:
[code]
There was no such error with previous ver

[2019-04-15 07:15] gabor-boros commented on #83
@pashazz @mehaase @grandquista Should I close this?

[2019-04-18 08:12] gabor-boros commented on #79
@grandquista @mehaase Can we close this issue?

[2019-04-18 08:13] #100 closed

[2019-04-18 08:14] gabor-boros commented on #97
Closing this issue due to this is related to https://github.com/rethinkdb/rethinkdb-python/issues/104

[2019-04-18 08:14] #97 closed

[2019-04-18 08:15] gabor-boros commented on #107
@fnrcum Sorry for the late reply. Having busy days.

Do you referring to the rethinkdb.com documentation?

[2019-04-18 08:16] gabor-boros commented on #110
@nlevitt Sorry for the late reply. I'll investigate this as soon as I have time.

[2019-04-18 10:04] #79 closed

[2019-04-19 07:36] gabor-boros commented on #112
@mitinarseny With the version 2.4.2 we will implement a shortcut for exactly those cases what you have to help the migration from 2.3.x to 2.4.x. This shortcut is implemented here https://github.com/rethinkdb/rethinkdb-python/blob/master/rethinkdb/__init__.py#L88.

So after the release of 2.4.2 the only think what you should change is the import of rethinkdb. So, instead of `import rethinkdb as r`

[2019-04-20 09:49] gabor-boros commented on #104
@shuat @Stilldabomb @grandquista it seems that I was able to fix the issue (will be merged soon) but the first argument is not picked up. I can not locate the issue, but the workaround until we figure it out will be: `rethinkdb bump - -c host:port`

[2019-04-20 10:09] gabor-boros commented on #104
The issue will be fixed by https://github.com/rethinkdb/rethinkdb-python/pull/106

[2019-04-20 15:22] Upd4ting commented on #104
Could wee know once the update has been pushed?

[2019-04-20 23:36] gabor-boros commented on #104
I’m waiting for the review of @grandquista

[2019-04-23 09:54] gabor-boros commented on #104
So it is merged. There are 2 other issues what we should resolve before the release, but I'll keep this issue updated

[2019-04-25 18:50] gabor-boros commented on #110
@nlevitt `r.now()` works, but the documentation is wrong. The "right" usage is:
[code]

This is a bit weird for me. @grandquista Is this worked like this before?

[2019-04-25 19:12] gabor-boros commented on #110
Opened a PR to fix this. I'll need to add unit/integration tests tomorrow.

[2019-04-26 08:35] gabor-boros commented on #83
Closing the issue based on @grandquista comment due to inactivity.

[2019-04-26 08:35] #83 closed

[2019-04-26 19:18] gabor-boros commented on #110
@nlevitt the fix is on master. Could you please try it out by installing from source if it is working for you as well? (The tests should ensure that its working but to double check it)

[2019-04-26 19:21] gabor-boros commented on #104
All the other issues are resolved. I’ll do the release during the weekend or Monday

[2019-04-26 19:39] nlevitt commented on #110
Um... how do I install from source?
[code]

10 minutes of playing with it and I still haven't figured out how to install?

[2019-04-26 22:53] gabor-boros commented on #110
Sorry, I forgot to describe it, my shame:
- Clone the repo
- Run “make prepare”
- Run “python setup.py install”

I hope I did not forgot anything

[2019-04-26 23:32] nlevitt commented on #110
Thanks. Works for me!

[2019-04-27 07:06] gabor-boros commented on #110
Then I’m closing this issue

[2019-04-27 07:06] #110 closed

[2019-04-28 09:21] gabor-boros commented on #112
V2.4.2 is out

[2019-04-28 09:21] #112 closed

[2019-04-28 09:21] gabor-boros commented on #104
V2.4.2 is out containing for for this issue

[2019-04-28 09:21] #104 closed

[2019-04-28 11:49] davammas opened #116 "Issue building with Docker with 2.4.2"
**Describe the bug**
When building docker container to the 2.4.2 I get the following error. This has been tested on two different docker containers that utilize the RethinkDB Python Driver. I have had to use the 2.4.1 driver in order to have docker run.

    from rethinkdb import RethinkDB
  File "/usr/local/lib/python3.6/dist-packages/rethinkdb/__init__.py", line 29, in <module>
    __version__ =

[2019-04-28 12:02] epequeno commented on #116
steps to reproduce
[code]

[2019-04-28 15:38] grandquista commented on #116
https://github.com/rethinkdb/rethinkdb-python/pull/106#discussion_r277151557

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-29 13:34] Upd4ting commented on #104
Good job!

[2019-04-29 19:18] gabor-boros commented on #116
@davammas @epequeno The issue has been fixed now, the fixed version is on PyPi.

[code]

[2019-04-29 19:18] #116 closed

[2019-05-17 05:25] bacnv opened #124 "ssl wildcat is not support"
**Describe the bug**
I can't connect to RethinkDB using wildcat ssl

**To Reproduce**
1. TODO
Change hostname at match_hostname to wilcat and have a arg to check wildcat

**Expected behavior**

match_hostname(self._socket.getpeercert(), hostname="*."+(self.host.split('.', 1)[-1]))

**Screenshots**
<img width="814" alt="image" src="https://user-images.githubusercontent.com/12888672/57904860-b2b6c88

[2019-05-17 12:59] dpineiden opened #125 "net_asyncio Connection,...."
Hi!

I'm using with asyncio rethinkdb and on the last version (2.4.2) i hav this problem

**Describe the bug**

[code]
I solved, in a while, with these changes:

On net_asyncio.py, line 333:
super().__init__(ConnectionInstance, *args, **kwargs)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new connection with await....
Using this module:
https://gitlab.com/pineiden/datadbs
Method:

[2019-05-20 12:12] frafra commented on #104
Mmm... `rethinkdb-dump` now requires `dump` as first argument, while in 2.3.0* it wasn't needed.

[2019-05-23 05:59] gabor-boros commented on #124
@bacnv Thank you for reporting the issue. I’ll check this as soon as I can and I’ll inform you what I found

[2019-05-23 06:00] gabor-boros commented on #125
@dpineiden thank you for reporting this issue. I’ll check this as soon as I have time and I’ll get back to you

[2019-05-23 18:12] dpineiden commented on #125
You welcome ;) Rethinkdb is great and i'm using this on key parts of a real time project with GPS (GNSS)

[2019-05-28 17:01] gabor-boros commented on #125
@dpineiden Ok, I tried to look into the issue, but I'll need more context. Could you please help me with some concrete example like an `async_connect` call with `datadbs` lib? I never used it and I have no time to figure out how to use that.

So if you could give me a "hello world" which raises this issue would be more than perfect.

[2019-05-28 17:04] gabor-boros commented on #124
@bacnv I'll try to fix this issue tomorrow

[2019-05-28 19:19] dpineiden commented on #125
Hi @gabor-boros

The system in that i'm working has two big sides:

- collector :: extract data from sources and save on rethinkdb (RDB)
https://gitlab.com/pineiden/collector/blob/master/collector/engine/engine.py
(lines 579-733)

- datawork :: obtain raw data from RDB and do some maths.
https://gitlab.com/pineiden/datawork/blob/master/datawork/gather.py
(lines 533-678)

In both cases the coro met

[2019-06-25 13:34] andreaspeters commented on #104
Well, I have the same error message like @shuat.
[code]
And thats with the current python-rethinkdb version:

[code]

[2019-07-03 17:09] Markus00000 commented on #104
Version `2.4.2.post1` does not work for me while `2.3.0.post6` does.

    $ pip install rethinkdb==2.3.0.post6
    [...]
    $ rethinkdb dump --connect localhost:28015 --password --export test.users
    NOTE: 'rethinkdb-dump' saves data and secondary indexes, but does *not* save
     cluster metadata.  You will need to recreate your cluster setup yourself after
     you run 'rethinkdb-restore'.

[2019-08-08 12:06] atomicules commented on #104
Per [this comment](https://github.com/rethinkdb/rethinkdb-python/issues/104#issuecomment-505447253) and:

[code]

It seems that what happens is `--password-file` gets sent twice. So from `utils_common.py`:

[code]

- `opt_str` is `--password-file`
- `value` is `--password-file`
- and the third argument is the actual file location.

Don't know why that is though. Changes in optparse? Incompatibilit

[2019-08-08 13:15] sawdog commented on #104
Is this being worked on? Otherwise I can resolve it - just assigned to me.

[2019-08-31 15:54] epequeno opened #137 "rethinkdb-dump is broken"
**Describe the bug**
v2.4.3 tries to connect to localhost and ignores commandline arguments pointing to another host
v2.4.0 - v2.4.2.post1 error at `check_tls_option()`
v2.3.0.post6 last working version

**To Reproduce**
Steps to reproduce the behavior:
1. run `rethinkdb-dump -c rethinkdb:28015 -f dump.tar.gz --tls-cert ./tls/rethinkdb-cert.pem --password-file pw`

**Expected behavior**
A dump arc

[2019-09-01 02:02] 34code commented on #137
same issue

[2019-09-01 07:03] gabor-boros commented on #137
Dear @epequeno,
Thank you for reporting the issue. I seen this behavior before and we already fixed it once, so it’s strange. Unfortunately I cannot investigate it today but tomorrow this will be my first thing to do. Also I’ll need to write test for the commands we have. Unfortunately we lack lot of tests

[2019-09-01 08:02] gabor-boros commented on #137
Ok, I tried to find my previous findings. So, the first argument is ignored (or it should be “dump”). This is why it tries to connect to localhost, because the parameter -c is ignored.

The previous issue is https://github.com/rethinkdb/rethinkdb-python/issues/104. Unfortunately I did not realized that the discussion continued after I closed the issue, so I’ll need to touch this topic again.

A lo

[2019-09-01 19:12] 34code commented on #137
My temporary solution was to to `pip3 install rethinkdb==2.3.0.post6` and do the export. I was then successfully able to import the data into rethinkdb too.

[2019-09-02 07:02] alexa-infra commented on #137
I think these issues (this and #104) have been fixed in PR #132, please try master branch instead of pypi version

[2019-09-02 07:14] gabor-boros commented on #137
It turned out that what @alexa-infra fixed is totally OK, but we have the other issue: how we provide the scripts installed by `setup.py`. With 2.3.0.post6 we installed only one script: `rethinkdb`, but now we are installing several commands: `rethinkdb-dump`, `rethinkdb-import` and so on. My harsh guess would be that this change was done because naming conflicts.

We have two options here:
- Keep

[2019-09-02 07:57] alexa-infra commented on #137
@gabor-boros  It's possible to provide scripts like

[code]

instead of default shim files generated by setuptools for console_scripts `'rethinkdb-dump=rethinkdb._dump:main'` etc. If it is called by `rethinkdb-dump -c hostname` then it would pass `sys.argv[1:]`, and if it's called by `rethinkdb dump -c hostname`, then `rethinkdb.__main__` correctly passes `sys.argv[2:]`

[2019-09-02 08:03] gabor-boros commented on #137
@alexa-infra Yes, you are right. We should do this for the scripts. Also, I found that the other scripts  parse the options in `argv[1:]` way. We will need to adjust all the scripts.

[2019-09-03 07:38] gabor-boros commented on #137
@alexa-infra could you please check https://github.com/rethinkdb/rethinkdb-python/pull/139 to see if you have any other ideas?

Basically what you mentioned in this thread earlier (`sys.argv[1:]` vs `sys.argv[2:]`) is already implemented in the `__main__.py` as far as I can see. (https://github.com/rethinkdb/rethinkdb-python/blob/master/rethinkdb/__main__.py#L76 and https://github.com/rethinkdb/re

[2019-09-04 06:26] gabor-boros commented on #137
@alexa-infra and @epequeno, the fix is released in 2.4.3.post1. Could you please confirm that the issue is fixed? Thank you in advance.

[2019-09-04 07:10] alexa-infra commented on #137
@gabor-boros confirmed

[2019-09-04 07:23] gabor-boros commented on #137
Due to the resolution is confirmed, I'm closing this issue

[2019-09-04 07:23] #137 closed

[2019-09-06 10:16] razvanavram commented on #125
I had this issue and fixed it by overriding the net_asyncio.py file.
The main difference is:

`super(Connection, self).__init__(ConnectionInstance, *args, **kwargs)`

replaced with:

`super().__init__(ConnectionInstance, *args, **kwargs)'

[2019-09-07 06:26] gabor-boros commented on #125
Dear @razvanavram could you please help me with more info? Which python version, code example etc?

[2019-09-07 06:29] gabor-boros commented on #125
@dpineiden It is weird. I tried to call the `async_connect` function and it worked for me. (the only thing I changed is that I dropped networktools package's prints)

[code]

Could you please check this issue in a fresh environment? I really would like to solve this issue, but right now I can not reproduce it.

[2019-09-07 07:57] gabor-boros commented on #124
@bacnv I'm really sorry! I was not able to get back to this issue until now. I made some changes at https://github.com/rethinkdb/rethinkdb-python/pull/140. Could you please confirm this resolves the issue?

[2019-09-13 08:32] gabor-boros commented on #124
#140 is merged. The changes will be deployed on Sept. 30. If you have any issue with wildcard certs by using the latest master / newest package ( after sept. 30) please reopen this issue and ping me.

[2019-10-28 08:41] gabor-boros commented on #124
@bacnv based on @srh's recognition (https://github.com/rethinkdb/rethinkdb-python/pull/140#issuecomment-546748000) could you please provide a stack trace for me what is the `hostname`and output of `self._socket.getpeercert()` on your side? I think the original issue is that your ca cert is wrong.

Please note that I'll revert that change if the issue is on your side, because as Sam mentioned it sh

[2019-10-31 03:11] bacnv commented on #124
I removed old lib and re-installed, And then debug again and It pass with RethinkDB Version: 2.3.6  with Python client version: 2.4.2.post1. And all pass. I don't know why...
I'm so sorry for disturbing you :(

<img width="692" alt="image" src="https://user-images.githubusercontent.com/12888672/67915927-c775e700-fbc6-11e9-944d-7e26681adb8c.png">

[2019-10-31 22:27] atomicules commented on #124
Hi. Stumbled across this issue. Fwiw I think 2.4.4 actually broke things:

## 2.4.3

[code]

## 2.4.4

[code]

[2019-11-01 00:01] srh commented on #124
The diff, for reference, with the changes in the driver/python folder being relevant: https://github.com/rethinkdb/rethinkdb/compare/v2.3.3..v2.3.4

Notably, in net.py: https://github.com/rethinkdb/rethinkdb/compare/v2.3.3..v2.3.4#diff-d73ba4e9a072dff9a19fe841ca493c8f

A second set of eyes would be nice, but the most eye-catching change is 7c9c68549d31986317c382458e9cbce0a6d62a92.

I don't know wh

[2019-11-01 17:16] gabor-boros commented on #124
@srh @atomicules I had no time to validate this, but my guess is that  #140 breaking the things with the wildcard thing what I did by "mistake". By mistake I mean it was a mistake to do that at all. Reverting that PR should solve the issue.

What do you think @srh? I think that the `ssl.SSLCertVerificationError` and `'*.0.dblayer.com' doesn't match 'aws-eu-central-1-portal.0.dblayer.com'` is clear

[2019-11-01 20:08] srh commented on #124
Oh, my, I'm a moron.  I read @atomicules's comment as 2.3.3 vs 2.3.4, so my previous post is all nonsense.

[2019-11-01 21:34] gabor-boros commented on #124
I just arrived home and I'll be not able to do the release and revert. This will be my first thing tomorrow morning! I'm so sorry 😞

[2019-11-02 08:52] gabor-boros commented on #124
Revert PR : https://github.com/rethinkdb/rethinkdb-python/pull/150

[2019-11-02 09:25] gabor-boros commented on #124
@atomicules could you please try it now with`2.4.4.post1`?

[2019-11-02 11:06] atomicules commented on #124
Sure... it looks good to me:

[code]

Thanks!

[2019-11-02 12:57] #124 closed

[2019-11-08 06:13] gabor-boros commented on #125
Closing the issue due to inactivity and I can not reproduce it even with the mentioned python package. Feel free to reopen it.

[2019-11-08 06:13] #125 closed

[2019-11-17 06:57] 34code opened #154 "rethinkdb dump -- fails"
**Describe the bug**
rethinkdb dump is broken

**To Reproduce**
Steps to reproduce the behavior:
rethinkdb dump -c db.site.com:28015 --password-file pass.txt -f backup.tar.gz

**Expected behavior**
rethinkdb dump completes successfully

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System info**
 - OS: macOS Catalina
 - rethinkdb: 2.4.0
 - Python client version: 2

[2019-11-17 20:33] gabor-boros commented on #154
Hey @34code,

Thank you for reporting this issue! I checked Term type 190 and it seems it should be get write hook which should be known by the ast.py.

I'll check it next week!

[2019-11-18 11:04] 34code commented on #154
thanks! In the meantime I was able to find a temp fix using an older version of the package through pip.. I think I used 2.3.0

[2019-11-19 07:27] gabor-boros commented on #154
Hey @34code,
I checked the mentioned issue. It is weird. For me with the following parameters it works:

RethinkDB server: `rethinkdb 2.4.0-srh-special-1-28-gb2365b`
RethinkDB Python package: `2.4.4.post1`
Python: `3.7.4`

[code]

[2019-11-19 09:08] gabor-boros commented on #154
Involving @srh to the investigation because of the C++ side of the story.

[2019-11-19 10:27] srh commented on #154
@34code RethinkDB 2.4.0 hasn't been released.

Maybe you are actually running a 2.3.x version, with a 2.4 driver.  Then the dump command that gets shipped with it tries to call get_write_hook.

If we want the 2.4 driver's dump command to be compatible with 2.3.x servers, maybe instead the command could get the write hook off the table config.

[2019-11-19 13:51] 34code commented on #154
I'm definitely using a 2.4 driver with a 2.3.x version. I will confirm the exact version on the server shortly. It makes sense if the driver version and the server version have to always match -- if thats the case, this is not a bug. I just confirmed I'm running 2.3.7 on the server.

[2019-11-19 16:37] gabor-boros commented on #154
@34code The major versions must match. I mean for a 2.3.x DB a 2.3.x driver and so on. If you have no concerns I’ll close this issue, since it is working with 2.4.x DB 😊

[2019-11-21 12:55] 34code commented on #154
thanks!

[2019-11-21 12:55] #154 closed

[2019-11-25 06:17] gabor-boros commented on #158
Hello @andrewmaximoff,
Thank you for letting us know! Now I moved this issue to the python driver's repo and I'll fix this issue during this week for the separate repo too. @JrooTJunior I'll upload this to PyPI around Friday due to I would like to fix other issues as well. Please note that the Python Drivers' 2.4.x versions are compatible with rethinkdb 2.4.x (which will be out soon)

[2019-12-03 06:10] gabor-boros commented on #161
This issue has been resolved until now. If the issue occurs, feel free to reopen

[2019-12-03 06:10] #161 closed

[2019-12-24 13:19] cirelli94 opened #164 "Rethinkdb with python driver installed"
It would be great to have an image with python and the [python driver](https://rethinkdb.com/docs/install-drivers/python/) already installed via pip.
I needed to use the rethinkdb command line utility that needs the python driver to dump, restore, etc.
Nowadays you have to sh in the container and install python-pip and the driver.
If this could be useful to someone other, I can make a pull request

[2020-01-28 06:42] gabor-boros commented on #164
So, it turned out that there is not issue to fix. Here is what happening:

The `pip3 install rethinkdb==2.4` resolves to `rethinkdb==2.4.0` package, which had an issue exactly with dumping. This issue has been fixed later. The lates version of the package is `rethinkdb==2.4.4`, which fixes this issue and using a never `setuputils` as well. As of now, you will need to install `setuptools` manually,

[2020-01-28 06:49] gabor-boros commented on #157
This issue was fixed in 5056bce8c0c9d254399db0d5e319cf4b02f52172. The functionality is working with 2.4.4.post1 for sure.

[2020-01-28 06:49] #157 closed

[2020-01-28 06:51] gabor-boros commented on #158
This issue is fixed within the python driver.

[2020-01-28 06:51] #158 closed

[2020-01-28 06:52] #63 closed

[2020-01-29 07:19] cirelli94 commented on #164
Here it's the pull request: https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/50

[2020-01-30 10:56] #164 closed

[2020-02-01 16:31] Gandalf-the-Grey opened #165 "Package it as python3-rethinkdb for Debian/Ubuntu and other supported platforms."
rethinkdb-python driver is an "official driver" and in fact it is required by `rethinkdb` for such crucial **subcommand** as `import`, so it would be great to have it packaged and make it available as `python3-rethinkdb`<sup>(\*)</sup> next to `rethinkdb` "official packages"

<sup>(\*)</sup> Debian/Ubuntu naming convention, it might be different for other distributions.

[2020-02-13 06:02] gabor-boros opened #168 "[proposal] Drop Python 2 support"
As of January 2020, the support Python 2 officially over. Since the code is lot more complex because of the Python 2 and 3 support, I suggest to drop Python 2 in favour of 3.

I would propose the following:
On a separate branch refactor the code to support only Python 3. Since RethinkDB 2.5.0 will introduce bigger changes (storage engine change), that would be a great opportunity to release the Py

[2020-02-19 11:07] meatcar opened #171 "Restoring doesn't pick up primary_key from info files"
**Describe the bug**
We upgraded RethinkDB from 2.3.6 to 2.4.0, and the driver accordingly, rebuilt indexes. Now, dumps generated by the most recent python driver (2.4.4.post1) fail when restoring, with every table with a `primary_key` that isn't `id` failing as follows:

[code]
Here is a simple info + table file from the dump:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade a

[2020-02-19 16:00] gabor-boros commented on #171
Hello @meatcar 👋

Thank you for the well detailed report! I’ll check it as soon as I can. (Probably tomorrow morning)

[2020-02-20 15:15] gabor-boros commented on #171
Hello, today I'll be not able to investigate this issue, tomorrow I'll have more time probably.

[2020-02-22 06:55] larkost opened #172 "improve dump/restore testing"
With rethinkdb/rethinkdb#2598 there is now basic testing for `dump`/`restore` and friends. However the testing completed in that push is only the most basic positive testing, there is no testing at all for bad cases, or for any of the options beyond `--force`. Those test are going to look a little different, and so will be done in a separate push.

A few things that I think should be included:
- r

[2020-02-22 08:23] gabor-boros commented on #171
@meatcar I was able to identify and fix this issue. Could you please try out the fix introduced in the linked PR?

[2020-03-01 10:48] meatcar commented on #171
@gabor-boros the fix works, thanks. 👍

Just a note, I tried to install the package from the repo and ran into an error:
[code]
The following fixed the error, and the install went through fine:
[code]

[2020-03-01 20:03] gabor-boros commented on #171
Ohh heck. We forgot the encoding. Thank you for pointing out! I’m glad that the fix worked, I’ll push the new version to pypi tomorrow morning 😇

[2020-03-02 06:20] #171 closed

[2020-03-07 21:07] lsabi commented on #168
I completely agree with dropping python 2 support with the next big release of rethinkdb.

When you say "refactor the code to support only Python 3", do you mean to redesign the architecture of the driver or only to update the code in order to only support python 3?

[2020-03-08 12:57] gabor-boros commented on #168
@lsabi I would do this in two steps, though it will take a bit longer. Since we can not cover the whole driver with unit and integration tests at the moment, I would feel more comfortable to do the code update first (and write the necessary tests) and after that when we can make sure we will not break things for sure, let's refactor the architecture of the driver.

[2020-03-27 21:39] lsabi opened #180 "Upgrade deprecated @asyncio.coroutine mark"
As the title implies, the @asyncio.coroutine above a function is deprecated (see [python docs](https://docs.python.org/3/library/asyncio-task.html#generator-based-coroutines))

Since deprecated feature, it should be upgraded in favor of
`async def function():`

[2020-04-10 22:45] cfHxqA opened #184 "rethink-dump 'Values instance has no attribute '__setitem__'"
Hello, i'll try to dump with rethinkdb but i got the following error:
[code]

Any idea to solve it? Pass got enteres with copy&paste and when typing - same result.

[2020-04-16 04:50] gabor-boros commented on #184
Hello @cfHxqA,

I didn't see this issue yet. I can check this in the upcoming days.

[2020-04-16 08:21] cfHxqA commented on #184
Thanks @gabor-boros, it looks like... it does work now with following command:
`python3 -m rethinkdb dump`

[2020-04-16 08:21] #184 closed

[2020-04-17 21:16] #180 closed

[2020-04-17 21:16] gabor-boros commented on #180
Will be included to the py2->py3 release

[2020-04-20 16:24] TTimo opened #185 "Support cx_freeze"
I would like to distribute a small python app that uses rethinkdb on Windows. I have some experience using cx_freeze for this sort of tasks so I gave it a try (with latest Python 3.8, rethinkdb-python and cx_freeze modules).

Unfortunately the packaging doesn't work atm, the packaged version fails to initialize with an error `doesn't support asyncio loop type` (my project does use asyncio - it wou

[2020-04-21 13:52] tirkarthi opened #186 "Importing ABC directly from collections was deprecated and will be removed in Python 3.10"
**Describe the bug**

Importing ABC directly from collections was deprecated and will be removed in Python 3.10 . Use collections.abc instead.

**To Reproduce**

[code]

**System info**
 - Python client version: 3.8

[2020-04-21 13:52] tirkarthi commented on #186
I will raise a PR to Python 2 to 3 branch.

[2020-04-21 13:59] tirkarthi opened #188 "Deprecation and syntax warnings in Python 3.8"
**Describe the bug**

* Deprecation warning due to invalid escape sequences in scripts folder. Using raw strings or escaping them again fixes the issue.
* Syntax warning due to using is for comparison of literals

**To Reproduce**

[code]

**System info**
 - Python client version: 3.8

[2020-04-21 21:08] gabor-boros commented on #185
Hello @TTimo,

I’ll check this in the upcoming days! Thanks for reporting. 😶

[2020-04-25 10:30] #186 closed

[2020-04-25 10:31] gabor-boros commented on #186
Cloud gb this issue as it is resolved on the 2 to 3 branch

[2020-05-01 05:49] gabor-boros commented on #185
Hello @TTimo,

I just got back to this. What do you mean by "It appears the net_asyncio and other modules are not being packaged."? I just downloaded the files from PyPi, extracted it and as I can see, every file is there including net_asyncio.py.

Could you please help me with more context?

[2020-05-01 06:01] gabor-boros commented on #188
Hello @tirkarthi 👋
Thank you for reporting this! I just fixed the warnings in https://github.com/rethinkdb/rethinkdb-python/pull/179. Would you like to see these changes on the master branch too?

[2020-05-01 06:05] tirkarthi commented on #188
Thanks @gabor-boros . I will leave it up to you to take a call on this since python 3 changes are going to be merged anyway to master branch.

[2020-05-01 13:27] gabor-boros commented on #188
@tirkarthi Then I’ll close this issue if you dont mind. Thank you again for reporting this! 🙏

[2020-05-01 13:27] #188 closed

[2020-05-01 22:57] TTimo commented on #185
`cx_freeze` is a tool for distribution of python software. In particular on Windows, it pulls python's executables and shared libraries together, as well as your compiled modules and dependencies, and puts everything together in such a way that it can run on any Windows machine, and not require Python installed beforehand.

[2020-05-04 15:26] tatiblockchain opened #190 "rethinkdb.errors.ReqlDriverError: Unexpected response received."
I have been struggling with this issue for a while, i have searched online and have not come across any solution. The closest issue to this one - [which presented no solution online is this one.](https://github.com/rethinkdb/rethinkdb/issues/4961)

I am running rethinkdb on Python 2.7 on Ubuntu 16. Everything works fine in development, i tried all the tables in development and no issue. But when i

[2020-05-04 15:30] gabor-boros commented on #190
Hello @tatiblockchain,

Thanks for opening this issue. Could you please help me by providing more info about the environment? You wrote that when you develop everything goes well, but when you introduce WSGI the driver is acting weird.

Are you introducing that WSGI locally or is that on a production/public facing server? As I can see in https://github.com/rethinkdb/rethinkdb-python/blob/master/re

[2020-05-21 11:24] palkeo opened #195 "Deadlock with trio, when streaming changes"
Hi !

I think I found a deadlock in the library.
It happens when using trio, when iterating over the changes to a table. If the connexion is closed an exception will be raised, we will enter the __aexit__ of the r.open() context manager and deadlock in there.

Here is the sequence of events:
 * exception emitted by the `async for change in changes` line (internally it's emitted by `_get_next` in `

[2020-05-22 09:26] gabor-boros commented on #23
We have rql tests as well. This issue is not needed anymore

[2020-05-22 09:26] #23 closed

[2020-05-22 12:58] Inveracity opened #201 "Pyinstaller compiled binary causes NotImplementedError on r.set_loop_type()"
**Describe the bug**
Using pyinstaller to build a binary of an application that uses r.set_loop_type("asyncio") causes a stacktrace when running the binary, but not when running it just with python.

**To Reproduce**
Steps to reproduce the behavior:
1. Make asyncio code

[code]
2. compile to binary

[code]

3. run the binary

[code]

**Expected behavior**

I expected it to work as a binary, since

[2020-05-25 05:06] jilen opened #205 "Index-rebuild failure after upgrading from 2.0.4 to 2.2.0"
Every time while I am upgrading the web console always remind to run `rethinkdb index-rebuild`

But the release note just states that it was not necessary to do this, why ?

Anyway I perform the index rebuild but the python driver complains following

[code]

[2020-05-25 05:09] fkollmann opened #206 "Python Error: %d format: a number is required, not str"
rethinkdb export does not work!

It causes the python driver to crash: `ReQL error during 'version check': Could not connect to localhost:28015. Error: %d format: a number is required, not str`

the driver seems to be up-to-date:

[code]

Running command:

[code]

[2020-05-25 05:11] VeXocide opened #207 "Allow the user to specify `check_hostname` in the Python driver"
In rethinkdb/rethinkdb#4815 I argued it'd be nice to allow users to specify whether the hostname should be checked via `check_hostname` when using SSL connections. If the Python version supports it we should default to `True`, and we should error if the user explicitly specified `True` but the Python version doesn't allow it.

[2020-05-25 05:16] larkost opened #208 "add `with` support to Python cursor"
The `Connection` class in the Python driver currently supports the Python `with` structure, but our `Cursor` class does not. I just ran into a case where it would be nice to have this. An example for clarity:

[code]

While our `Cursor`s are not that expensive, it does make sure that things get cleaned up on-time.

[2020-06-01 05:04] mishawakerman opened #210 "rethinkdb restore failing after upgrade to 2.4.7 (TypeError: 'Values' object is not subscriptable)"
**Describe the bug**
Restore fails if the `--temp-dir` argument is provided.

**To Reproduce**
Steps to reproduce the behavior:
Try to restore with (valid directory) `--temp-dir` argument and see the following error:
[code]

**Expected behavior**
Restore the database.

**System info**
[code]
**Additional context**
It looks like a typo on [_restore.py:183](https://github.com/rethinkdb/rethinkdb-pyt

[2020-06-01 05:08] mishawakerman commented on #210
For anyone else having this issue, our workaround was to go back to `rethinkdb==2.3.0.post6` ([the same issue appears to be present in 2.4.0](https://github.com/rethinkdb/rethinkdb-python/blob/v2.4.0/rethinkdb/_restore.py#L142)).

[2020-06-01 05:08] mishawakerman commented on #210
Perhaps would've been caught with #172

[2020-06-15 06:39] #201 closed

[2020-06-25 23:14] MarkDunne opened #216 "Query hangs when connection established on different asyncio loop"
**Describe the bug**
RethinkDB Query hangs when connection established on different asyncio loop

**To Reproduce**

[code]

**Expected behavior**
The connection should work across loops, or fail with something rather than hanging

**System info**
 - RethinkDB Version:2.4.7

[2020-06-29 20:04] lsabi commented on #216
Which python version are you using? If you're using python < 3.7, then it should not be working by design of python.

Also, would you mind trying the following option an see if it hangs?

[code]

[2020-06-29 21:46] ShadowJonathan opened #217 "Rethinkdb-import impossible to use on windows"
**Describe the bug**
On Windows 10, with Python 3.8, rethinkdb-import simply refuses to function due to obscure python `multiprocessing` errors.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install rethinkdb` from python 3.8 (on windows)
2. `rethinkdb import [options]`

**Expected behavior**
Normal operation, the starting of importing data

**System info**
 - OS: Windows 10 (build 19

[2020-06-30 23:00] MarkDunne commented on #216
I am using python Python 3.8.2.

Unfortunately, your snippet also hangs.

[2020-07-01 12:57] ShadowJonathan opened #218 "Increase IDE typing support"
**Is your feature request related to a problem? Please describe.**
In pycharm, as of this moment, rethinkdb query methods and others are not recognized properly in static analysis, and I think static typing analysis libraries such as mypy will not be able to validate code this way.

**Describe the solution you'd like**
Superclass `RethinkDB` with a class encapsulating `ast`, `net`, `query`, and `e

[2020-07-01 18:31] lsabi commented on #216
Then the problem is in the `asyncio.run(test_connection())` piece of code.

I'm not sure if this can be captured by the library or if it is a language related problem. I'll give it a look, but I'm not sure there is a possible fix.

**For those who are having the same issue**, mind that `asyncio.run()` creates a new event loop, while `asyncio.run_until_complete()` uses the current event loop, altho

[2020-07-17 19:47] lsabi commented on #216
A possible solution could be to store a reference of the event loop used for instantiating the driver and then perform a check when running a coroutine, verifying that the current event loop is the same as the starting one.

The problem here is that the library would have to perform a check in every possible function/coroutine. As a result, this will seriously affect the performances.

As a sugges

[2020-07-17 22:19] gabor-boros commented on #216
@lsabi thanks for Pinging me about this.

I didn't know much about this, but I'll try to look into this soon too. (This weekend or by Tuesday)

Until that I'll try to bring some ideas to the table around this.

To be honest the client would need a great refactor as discussed previously. (Regardless of this issue)

[2020-07-21 06:50] gabor-boros commented on #216
So I checked this. I did not find a solution yet so I'll take one more look on this later next days. My assumption is that connection object cannot be passed across threads. I mean it can be, but the process will hang forever.

I'll try to check how could we solve to be able to pass the connection object.

**Off topic**

Generally speaking using shared objects instead of globals is always a better

[2020-07-21 07:01] lsabi commented on #216
Thanks @gabor-boros for tuning in.

I also did some further research and it appears that it is not possible to share the object, as you said, but this should be outside the library's reach. I guess this is more of a python problem.

The thread is started with the code, but my guess is that it crashes, the thread keeps running, waiting for a response, which never arrives. Basically it becomes a dea

[2020-07-21 07:10] gabor-boros commented on #216
I thought about the same just wanted to validate somehow.

[2020-07-26 17:28] dpineiden commented on #165
Hi Gandalf.
The rethinkdb-python module can be installed using pip. For a debian package the debian community must be check but has a lot of work, so could wait  a long time until have some published.

[2020-07-26 17:34] dpineiden commented on #216
Hi.

The asyncio module provides to you an UNIQUE loop by thread. So if you want to run the new or the second loop you have to cancel or finish the first.
That issue is not an issue, is a matter of understanding how asyncio works.
If you need to run on the same process both functions, you have to declare first as future tasks, then load on the loop and run.
Or using multiprccessing, create a new p

[2020-07-26 17:35] dpineiden commented on #216
You could check this module that i created, on the test examples, you can see how work with asyncio:

https://gitlab.com/pineiden/datadbs-rethinkdb

[2020-07-26 18:05] dpineiden commented on #217
Can you check with a simple script and multiprocessing if works fine. I guess in windows you have to change the multiprocessing method, maybe to 'spawn', check the documentation module.
Your error is related to a way in what you are translating an object NOT PICKEABLE (not serializable) to other process or thread.
So, try this:

Initialize the process then create the object and connection, not bef

[2020-07-26 18:07] dpineiden commented on #218
How works pycharm? What require to identify the methods?
I guess is a pycharm problem maybe.
The second could be a good idea, maybe wrapping to classes more explicit could help

[2020-07-26 18:10] dpineiden commented on #168
+1. Python2 is deprecated now

[2020-07-26 19:55] lsabi commented on #216
@dpineiden Thanks for jumping in. I'm not much knowledgeable about building asyncio libraries, so wasn't 100% sure.

I guess this is issue can be closed and the "bug" label be removed as this is definitely not a rethinkdb python driver's issue, but the way asyncio itself works.

[2020-07-28 17:30] #216 closed

[2020-08-11 09:43] gabor-boros commented on #218
Yep, the python driver is not built in the mentality of Zen of Python, that's sure.

I think if we could move to Python 3 and type hint the code that would help a lot. Also, refactoring (partially what @ShadowJonathan mentioned) is necessary too.

[2020-08-11 09:44] gabor-boros commented on #217
Ping @ShadowJonathan

[2020-08-11 10:12] ShadowJonathan commented on #217
This isn't the actual python library driver, these are CLI commands, which honestly I expect to work *regardless* of platform

Yes, I'd wager that manually hacking the boot process of such a system would fix it, but this issue is specific to fixing the source code to work with windows as well, not monkey patch it

[2020-08-18 00:02] dpineiden opened #222 "On python 3.8 the query for 'between' in a table CANCEL TASK...."
**Describe the bug**

In a table with extra INDEXES, I have a DT_GEN and COUNT (date and int), tested.

The between query as shows on documentation:

On (https://gitlab.com/pineiden/datadbs-rethinkdb/-/blob/master/data_rdb/rdb.py) line 316 and so on

[code]

[code]

**To Reproduce**

Mount Rethinkdb 2.4.1
Install Python 3.8
Create a virtualenv

To install dependences and then install from repo:
pi

[2020-08-18 01:49] dpineiden commented on #222
Now, working for debugging.

This works (using secondary index COUNTER), with py3.6 and py3.8:

[code]

[2020-08-18 02:37] dpineiden commented on #222
Not using 'between', using 'filter'. Works fine on Python 3.8, the query for datetime

[code]

[2020-08-18 04:24] dpineiden commented on #222
Now, I think, comparing. Between is better than filter for real time. Filter read all the table every time.

I opened the diccionary of options, and it's working ok.

[code]

[2020-08-19 14:56] dpineiden commented on #222
And then. Beyond using only 1 connection. When I active more, in somewhat  one or other is broken. The 'Task cancelled' error.
So, I'm using now the wait_for and await sleep from asyncio to control that. But I think I can't get the full knowledge from this bug-error or whathever

[2020-08-19 21:43] dpineiden commented on #222
Ok. Now i'm reading the code.
On the file 'net_asyncio.py' needs some fixes. Reading the documentaion for the streamreader, streamwriter. Need some extra step when write, close the streams.

https://docs.python.org/3/library/asyncio-stream.html#asyncio.StreamWriter

For example, to write (do a query)

[code]

Or to close:

[code]

Working with sockets is very very tricky :)

[2020-08-27 02:12] Stylesoftware opened #225 "dump failed with v2.4.7"
**Describe the bug**
Dump errors out

**To Reproduce**
apt install python3-venv
python3 -m venv ./venv
source venv/bin/activate
pip install rethinkdb
rethinkdb dump --password

**Expected behavior**
dump file

**Screenshots**
(venv) root@******/srv# rethinkdb dump --password
Password for `admin`:
Traceback (most recent call last):
  File "/srv/venv/bin/rethinkdb-dump", line 11, in <module>
    sys

[2020-09-24 13:16] dependabot-preview[bot] opened #229 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/rethinkdb) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/rethinkdb/update-logs/48608288).

[2020-09-25 13:15] #229 closed

[2020-10-02 10:34] erSitzt commented on #225
does `--pasword-file` work for you ? i had a similar problem with a restore

[2020-10-07 13:03] erSitzt commented on #225
a new release would be nice, as some bug are already fixed regarding dump/restore

[2020-10-09 14:16] htbrown commented on #217
Any updates on this? Having the same problem on macOS. RethinkDB v2.4.0

If not, anyone know any other way to import JSON files?

[2020-10-13 11:34] gabor-boros commented on #217
@htbrown to me it is weird that only happens on windows and the stack trace show the error is originated from the builtin multiprocessing lib.

Since I cannot test this on windows, I'd ask some more details from you:

What happens in case you execute the import script manually and not through the rethinkdb wrapper? (By that I mean find the python file and call that, not the "rethinkdb import" comm

[2020-10-13 11:35] gabor-boros commented on #225
That's a fair point. @lsabi could you please help me checking if this error exists on master as well? If not we should definitely have a new release

[2020-10-13 16:32] htbrown commented on #217
To clarify - I was having the same issues with macOS. I haven't tried it on my Windows box.

If you'd like me to, I can later. Give me a while.

[2020-10-13 17:08] ShadowJonathan commented on #217
@gabor-boros if you look closely at the top stack trace, this is caused by pickling `_thread._local`, after which a pickling engine (for "sending" values across) comes across it, and throws an exception. This is caused by thinks set in place both for that pickling engine, and whatever values are dropped to other threads.

(iirc (but i am not sure on this), when i originally was investigating this,

[2020-10-18 09:36] gabor-boros commented on #165
I think the real solution here would be to move these kind of management commands to be part of the database and not a client.

Hence, I'm closing this issue now.

[2020-10-18 09:36] #165 closed

[2020-10-22 20:28] htbrown commented on #217
If anyone needs it, I've made my own RethinkDB importer in Node. Got fed up with faffing around with the built in Python one. https://github.com/htbrown/rethinkdb-import

No documentation yet so if you need help submit an issue.

[2020-11-02 09:44] erSitzt commented on #225
Any news on this ?

[2020-11-02 21:31] lsabi commented on #225
Nope, I didn't manage to find the root of trouble. Though, we are planning a client renewal and this feature should be moved outside clients's scope.

[2020-11-05 23:33] qualitymanifest commented on #217
I am also having this issue on a mac. Rethinkdb 2.4.0 with Python 3.8.2

[2020-11-06 15:56] bashalex commented on #222
I am experiencing the same bug, it's pretty annoying.
Hope it gets resolved soon!

[2020-11-06 16:27] htbrown commented on #217
Right so there's even something wrong with exporting. Hmm.

[2020-11-27 15:29] murali-shankar opened #237 "Trio Connection Pool Error"
**Describe the bug**
We are trying to create the connection pool using trio, we get the below error

error
-------------
  File "/home/serveradmin/bin/zoowie/app_server/db_connection.py", line 8, in db_connection
    async with db_pool.connection() as conn:
  File "/usr/local/lib/python3.6/dist-packages/rethinkdb/trio_net/net_trio.py", line 462, in __aenter__
    self._conn = await self._pool.acqu

[2020-12-05 19:24] gabor-boros commented on #237
The related PR is merged

[2020-12-05 20:21] #237 closed

[2020-12-06 08:01] Inveracity opened #239 "Help with code style"
Heya, I'm simply looking to get some ideas on code style for queries.

In short I'm not happy with using a lambda in a filter, it makes the code look messy and linters unhappy.

[code]

I've rewritten the above to this instead:

[code]

But I wonder if there's a performance penalty doing this?
And I also wonder if there's an even more readable way to write queries than this?

[2020-12-09 10:27] Inveracity commented on #239
This question is probably more suited for stackoverflow in hindsight. Apologies for the noise!

[2020-12-09 10:27] #239 closed

[2021-01-02 18:25] daprieto1 commented on #217
I'm also having the same problem in mac os
Python 3.9.0
rethinkdb 2.4.0

[2021-02-08 02:01] GeoffreyPlitt commented on #217
I'm getting these errors as well. I'm on Mac Mini M1. I'm not a python expert, so I can't tell if rethinkdb is using python2 or python3, but when I type "python" it seems to use python2. Is that good? Bad? I have both on my system.

giro@geoffs-mac-mini:~/rethinkdb-import$python --version
Python 2.7.16
giro@geoffs-mac-mini:~/rethinkdb-import$python3 --version
Python 3.9.1
giro@geoffs-mac-mini:~/re

[2021-02-08 02:57] GeoffreyPlitt commented on #217
Or a way to disable multiprocessing?

[2021-02-08 08:04] ShadowJonathan commented on #217
I suggest removing or avoiding using python 2, it's been deprecated for a while.

[2021-02-08 08:38] htbrown commented on #217
I tried to remove Python 2 on my Mac before and seem to remember finding it incredibly difficult for a while and then just giving up because it was more effort than it was worth. Do they still package it all in with the Python 3 installer?

[2021-02-08 10:39] ShadowJonathan commented on #217
remove only if possible, sometimes python 2 is deeply embedded for system stuff (and people dont care enough to update it to 3), but try to find ways to make python 3 the default for your usages

[2021-02-08 22:33] htbrown commented on #217
Yeah I think portions of macOS use it. I'm just trying to avoid it as much as possible.

[2021-02-13 00:05] jtwebb commented on #217
On Mac 11.2.1 the `dump` command is doing the same thing.

`rethinkdb dump -c my-host-name`

[code]

[2021-02-13 00:14] GeoffreyPlitt commented on #217
I have created this tool as a workaround (using NodeJS):
https://github.com/GeoffreyPlitt/rethinkdb-import

[2021-02-13 14:31] jtwebb commented on #217
If it's any help, it looks like there was an issue with [redis-py](https://github.com/andymccurdy/redis-py/issues/1029). It looks like the parent process might not be serializable. [Another similar issue](https://github.com/rq/rq/issues/1264) [was fixed](https://github.com/rq/rq/pull/1302/files) by serving up a different connection.

[2021-02-14 16:26] iantocristian opened #249 "Add a compressed output format for rethinkdb export / import"
**Is your feature request related to a problem? Please describe.**
Dumping large databases / tables involves writing very large files to the disk, is expensive in terms of disk io.

**Describe the solution you'd like**
Add a new compressed output format json.gz to rethinkdb export.
Enable on the fly streaming compression of data files using zlib.

[2021-02-14 21:00] lsabi commented on #249
This is an interesting (and useful) feature that surely deserves to be implemented.

As of now, we're in the middle of a revamp of this repo, because the project is flooded with old code and bad mixes of python 2 and 3. We're already working on it, in a separate repo, where we're cleaning up the messy code and start supporting only python 3 since the EOL of python 2.

Our first goal is to not brea

[2021-02-15 08:56] iantocristian commented on #249
This is something I'm experimenting with at the moment. Does it make sense to open a PR with a proposed implementation to get some feedback?

[2021-02-15 09:17] smiranda opened #250 "index variable is a string but is used as a dict ("string indices must be integers")"
https://github.com/rethinkdb/rethinkdb-python/blob/ecf1dd6a4ccbec2c57dc73aaf711a148095f9be4/rethinkdb/_index_rebuild.py#L129

This happened to me when I killed a reindexation process than started again: the code throws the error "string indices must be integers" and i found is in that line.

To workaround I commented that part of the script and ran. Later I plan to manually delete the temporary in

[2021-02-16 15:10] lsabi commented on #249
If there's already the implementation, we could try to make room for it in the new repo (temporarily private since early WIP).

You can use the `python-2-to-3` branch (or `master` if already started working from that one). Please try to keep your code as separate as possible from the existing code, so we can extract it easily and then port it to the new codebase.

[2021-02-16 21:54] lsabi commented on #250
Probably it's due to how the index is saved during the reindexation.

We'll give it a look, but can you provide some more context on how to reproduce it? Thanks

[2021-02-19 18:49] iantocristian commented on #249
Cool, I opened a PR against master for now, that's what I was working on. If it's a go I can switch to `python-2-to-3`.

[2021-02-19 21:00] lsabi commented on #249
I checked the PR rapidly, but it looks really neat. Thanks!

It will need a proper code review and we will then merge it into the new repo (as soon as we're done with the basis of it). I would keep the PR open until then, if you don't mind, do you?

[2021-02-20 09:49] smiranda commented on #250
Hello @lsabi , thanks for the reply.

I think it boils down to this. This command returns a list of strings and not a list of objects. So `index` is a string.

[code]

Therefore this other command which is inside of the loops probably needs to be modifed as such:

[code]

So during indexation rethinkDB creates "$reql_temp_index$" for the indexes it's reindexing. If you interrupt the reindexation t

[2021-02-20 11:28] iantocristian commented on #249
Sure no problem 👍

[2021-02-20 15:07] lsabi commented on #250
I'll try to dig into it as soon as I have some spare time to dedicate.

In the meantime I would keep it open. If you have more feedbacks, just right them here.

[2021-03-01 22:43] metal3d opened #252 "DeprecationWarning with pytest"
**Describe the bug**
Running tests for one project, I see:
[code]

Note the message: with Python 3.10, the module will stop working. I made a Pull Request to fix, see #253

**To Reproduce**
Steps to reproduce the behavior:
1. Launch `pytest` on any project using rethinkdb

**Expected behavior**
No warning...

**System info**
 - OS: Linux Fedora 33

[2021-05-14 15:25] Dav2015 commented on #217
You saved my day. Thanks

[2021-06-28 15:15] red-scorp commented on #217
@ShadowJonathan Did you closed Kaspersky Antivitus when you started your python script?
Not suppressed for n minutes, but completely closed it. It helped in my case... a bit...

[2021-06-28 16:10] ShadowJonathan commented on #217
I didn't have any antivirus on when I tried this script, but that's not the point.

[2021-09-03 00:22] EugeniuZ opened #263 "RethinkDB converts float 0.0 to int 0"
Hi,

Seems that RethinkDB is converting float value of 0.0 to integer value of 0.
In my scenario the problem is that python dictionaries are saved in RethinkDB and upon retrieval this (undesired) conversion happens. Some of the upstream systems check for the type of the field (float is expected but an int is received).

Is there a way to avoid this conversion? Is it a feature or a bug?

[code]
Out

[2021-09-03 00:26] srh commented on #263
This is a behavior of the Python driver, not RethinkDB itself, which only has one numeric type, finite 64-bit floats.

I think the related code is here:

https://github.com/rethinkdb/rethinkdb-python/blob/master/rethinkdb/ast.py#L780

and that this behavior is a result of JSONDecoder: https://docs.python.org/3/library/json.html#json.JSONDecoder

There is no way to avoid this behavior.  I don't thi

[2021-09-03 05:18] EugeniuZ commented on #263
Hi @srh ,

If i try conversion to an from a string i get this result:
[code]

@sefgit  - the code handling the python dictionaries doesn't make any assumption about the structure of received the documents (which can have various levels of nesting) so using explicit conversion would require to make assumptions about the structure and data types of the fields in received documents.

[2021-10-21 19:28] lkovesdi commented on #217
ok.. so downgrading to Python 3.7.9 works. If anyone still needs it!

[2021-11-19 14:01] luckydonald opened #264 "Asyncio not compatible with python 3.10"
**Describe the bug**
The most basic example fails
`BaseEventLoop.create_connection() got an unexpected keyword argument 'loop'`

**To Reproduce**
Steps to reproduce the behavior:
- install the most recent python
[code]
- try to run the async example
[code]

**Expected behavior**
It works.

**Screenshots**
[code]

**System info**
- Python: `3.10.0`
- pip: `rethinkdb==2.4.8`
 - OS: [macOS Mojave 10.

[2021-11-19 14:07] luckydonald commented on #264
But it's apparently not only the loop parameter:
- rethinkdb/asyncio_net/net_asyncio.py", line 202, in connect `self._streamreader, self._streamwriter = yield from asyncio.open_connection(`
  - TypeError: BaseEventLoop.create_connection() got an unexpected keyword argument 'loop'
- rethinkdb/asyncio_net/net_asyncio.py", line 232, in connect `response = yield from asyncio.wait_for(`
  - TypeError:

[2021-12-15 09:39] jwr commented on #217
@lkovesdi Thanks for posting this. I wasted some time on this problem, then found this suggestion, and indeed downgrading my python (via homebrew) let me work around the issue. At least temporarily, because there is no escaping newer Python versions.

[2022-02-14 13:55] odidev opened #266 "Test fail."
I have been working to build and test this package for amd64 and arm64 architectures. While testing this package with “pytest” getting connection error, it is trying to create a connection string to connect rethink db server.

[code]
Also installed and start rethinkdb using below commands:
[code]
Then try to change the default port using, “rethinkdb --bind all --http-port 8085” but still it is sho

[2022-02-15 21:26] lsabi commented on #266
Have you tested if the database can be reached? It seems more a problem with the database instance not being reachable.

[2022-03-01 21:38] stephanelsmith commented on #264
Bump, running into this now.

Also...
asyncio_net/net_asyncio.py, **asyncio.get_event_loop** is being deprecated as well.  Should be using **asyncio.get_running_loop** per
https://docs.python.org/3/library/asyncio-eventloop.html

[2022-04-03 15:11] TheTechRobo opened #268 "Proposal: Disconnect connection when garbage collected"
**Is your feature request related to a problem? Please describe.**
In my program, I didn't know that you need to call `conn.disconnect()` when you are finished with a connection, causing me to frequently hit the "Too many open files" error (I opened too many connections to the RethinkDB server).

**Describe the solution you'd like**
I believe that in classes there is the `__del__` function. Altern

[2022-04-03 15:21] TheTechRobo commented on #268
Sorry, I didn't see the  "no feature requests" in the README.

[2022-04-14 07:43] pgajdos commented on #168
Could you please also consider to use unittest.mock instead of mock, as a fallback at least?

[2022-04-14 20:00] lsabi commented on #168
@pgajdos we're working on a new version of the driver, though this is not so ready yet. We're completely dropping support for python 2 and are fixing the architecture.

It's taking a while, but we're working during our spare time. We'll take your request into account

[2022-04-14 20:00] #168 closed

[2022-04-19 08:42] pgajdos commented on #168
@lsabi, thanks!

[2022-04-26 03:32] besworks commented on #225
I got this to work by editing the `utils_common.py` file from the last section of the log.

[code]

I changed

[code]
to
[code]

After that I was able to enter my admin password and successfully complete a dump.

[2022-05-11 10:41] erSitzt commented on #225
Is there ever a time when `rethinkdb-dump` just works ?
Everytime i update anythink this breaks with a new error :)

[2022-05-11 12:22] gabor-boros commented on #225
@erSitzt Although we are planning to squash a ton of issues, PRs are always welcome.

[2022-05-12 07:24] erSitzt commented on #225
@gabor-boros  i know :) but my python skills are not worth being called "skills" ;)
I was just a little frustrated, because i was greeted with errors on every version change of rethinkdb since we started using it in 2016 :) (only with this script i mean)

[2022-05-12 07:26] #225 closed

[2022-08-07 04:09] brimimc opened #280 "'JsonSourceFile' object has no attribute 'bytes_processed' when using restore"
**Describe the bug**
When running a rethinkdb restore and a single document exceeds the max document size, instead of seeing the expected error message you see `'JsonSourceFile' object has no attribute 'bytes_processed' `

**To Reproduce**
Steps to reproduce the behavior:
1. do a rethinkdb restore that included a document larger than the default max size of 134217728 bytes

**Expected behavior**
y

[2022-08-09 20:24] lsabi commented on #280
Thanks for noticing it!

We're currently working on a new version of the driver that will drop support for python 2, allowing us to refactor part of the code and improve the functionality. The bug should be fixed with your suggestion, though at the moment I don't have the means to test it.

I'll keep the issue open and fill a PR for solving this. Once the testing environment is done we'll test it

[2022-08-17 13:39] TheTechRobo commented on #274
rethinkdb/rethinkdb#6291 was merged, for what it's worth.

[2022-09-30 17:52] harsha448 opened #281 "Encountering primary key error while running rethinkdb restore for rethinkdb 2.4 version"
/usr/bin/rethinkdb restore backup.tar.gz -c "server_ip" --password-file ./password.txt  --no-secondary-indexes --force
Extracting archive file...
  Done (2 seconds)
Importing from directory...
Traceback (most recent call last):
  File "/usr/local/bin/rethinkdb-restore", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/site-packages/rethinkdb/_restore.py", line 339, in main

[2022-09-30 19:17] lsabi commented on #281
Are you using a fresh install of rethinkdb?

Some context would be helpful....

[2022-10-06 05:42] harsha448 commented on #281
Below is the rethinkdb version which we are using right now..
rethinkdb 2.4.2 (GCC 4.8.5)

We are encountering same error whether i try to use restore command or after extracting the backup dump file and running import command

[2022-10-06 20:16] lsabi commented on #281
And do your tables have the needed columns?

Do also the "internal" tables have those columns?

[2022-10-10 06:46] harsha448 commented on #281
Yes we do have primary key for the table..Even when i tried with import command ,passing the primary key facing the same error.

[2022-10-12 20:30] lsabi commented on #281
Does the problem occur even with [https://github.com/BOOMfinity/GoThink](https://github.com/BOOMfinity/GoThink) ?

[2022-11-06 13:17] Zensonaton opened #282 "Typing and docstring support for better IDE experience"
**Is your feature request related to a problem? Please describe.**
When using RethinkDB driver, there aren't any type annotations or docs. All of the methods looks like this:
![Screenshot](https://user-images.githubusercontent.com/66683075/200172791-9f7563e3-b926-48bd-a50d-205b2ff002e6.png)

**Describe the solution you'd like**
A type annotations and docstrings for methods and classes.

[2022-11-07 20:56] #282 closed